body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Heading and Footer Color Theme */
.header, .heading, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
}

.header .container {
    flex: 0 1 1280px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.header .container .heading-navigation {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0px;
    align-self: stretch;
}

.header .container .heading-navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.header .container .heading-navigation ul a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 18px;
}

.header .container .heading-content {
    display: flex;
    gap: 40px;
}

.header .container .heading-content .text {
    flex: 1 1 auto;
    align-self: stretch;
}

.header .container .heading-content .text h1 {
    font-size: 48px;
    margin: 0px;
}

.header .container .heading-content .text p {
    font-size: 18px;
    margin: 16px 0px;
}

.header .container .heading-content .text button {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header .container .heading-content .image img{
    align-self: stretch;
    text-align: center;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Information container - vertical axis flexbox */
/* This is to assist content to be initialised at 1280px width */
.information-container,
.quotation-container,
.contact-container  {
    display: flex;
    justify-content: center;
}


.information-content, 
.quotation-content,
.contact-card {
    flex: 0 1 1280px;
    padding: 0 50px;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-content .pictures {
    display: flex;
    gap: 24px;
}

.information-container .pictures .illustration {
    flex: 0 1 320px;
    text-align: center;
    font-size: 24px;
    
}

.information-container .pictures .illustration img {
    max-width: 100%;
    border: #3882F6 solid;
    border-radius: 28px;
}

.quotation-container{
    background-color: #E5E7EB;
}

.quotation-content p{
    margin: 120px 0px;
    font-size: 40px;
    line-height: 1.5em;
    font-style: italic;
    color: #1F2937;
}

